[submodule "seaport-js"]
	path = seaport-js
	url = git@github.com:eloi010/seaport-js.git
[submodule "walletconnect-wallet-sample"]
	path = walletconnect-wallet-sample
	url = git@github.com:openfort-xyz/walletconnect-wallet-sample.git
[submodule "authentication-unity-sample"]
	path = authentication-unity-sample
	url = https://github.com/openfort-xyz/authentication-unity-sample
[submodule "playfab-unity-sample"]
	path = playfab-unity-sample
	url = https://github.com/openfort-xyz/playfab-unity-sample
[submodule "firebase-extension-unity-sample"]
	path = firebase-extension-unity-sample
	url = https://github.com/openfort-xyz/firebase-extension-unity-sample
[submodule "opensea-walletconnect-unity-sample"]
	path = opensea-walletconnect-unity-sample
	url = https://github.com/openfort-xyz/opensea-walletconnect-unity-sample
[submodule "ugs-unity-game-services-sample"]
	path = ugs-unity-game-services-sample
	url = https://github.com/openfort-xyz/ugs-unity-game-services-sample
[submodule "firebase-auth-sample"]
	path = firebase-auth-sample
	url = https://github.com/openfort-xyz/firebase-auth-sample
[submodule "iap-unity-sample"]
	path = iap-unity-sample
	url = https://github.com/openfort-xyz/iap-unity-sample
[submodule "unity-recaptcha-sample"]
	path = unity-recaptcha-sample
	url = https://github.com/openfort-xyz/unity-recaptcha-sample
