[submodule "seaport-js"]
	path = seaport-js
	url = git@github.com:eloi010/seaport-js.git
[submodule "walletconnect-wallet-sample"]
	path = walletconnect-wallet-sample
	url = git@github.com:openfort-xyz/walletconnect-wallet-sample.git
[submodule "authentication-unity-sample"]
	path = authentication-unity-sample
	url = https://github.com/openfort-xyz/authentication-unity-sample
[submodule "playfab-unity-sample"]
	path = playfab-unity-sample
	url = https://github.com/openfort-xyz/playfab-unity-sample
[submodule "firebase-extension-unity-sample"]
	path = firebase-extension-unity-sample
	url = https://github.com/openfort-xyz/firebase-extension-unity-sample
[submodule "opensea-walletconnect-unity-sample"]
	path = opensea-walletconnect-unity-sample
	url = https://github.com/openfort-xyz/opensea-walletconnect-unity-sample
